name: "index-generate"
on:
  workflow_dispatch:
  schedule:
    # every sunday at 2:51
    - cron: '51 2 * * 0'
jobs:
  update-lock:
    runs-on: ubuntu-latest
    name: Update flake.lock
    steps:
    - uses: actions/checkout@v6
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/nixpkgs-unstable.tar.gz
        extra_nix_config: |
          access-tokens = github.com=${{ github.token }}
          system-features = nixos-test benchmark big-parallel kvm
    - name: Update the flake lock
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        nix flake update --commit-lock-file
        git push origin HEAD:main

  create-release:
    runs-on: ubuntu-latest
    name: Create Release
    needs: update-lock
    outputs:
      release_name: ${{ steps.date.outputs.date }}
      release_id: ${{ steps.create_release.outputs.id }}
    steps:
    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d-%H%M%S')" >> ${GITHUB_OUTPUT}
    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        name: Release ${{ steps.date.outputs.date }}
        tag_name: ${{ steps.date.outputs.date }}
        draft: true


  index:
    runs-on: ubuntu-latest
    needs: create-release
    strategy:
      matrix:
        system: ['x86_64-linux', 'aarch64-linux', 'x86_64-darwin', 'aarch64-darwin']
    name: Build database
    outputs:
      x86_64-linux-hash: ${{ steps.hashes.outputs.x86_64-linux }}
      x86_64-darwin-hash: ${{ steps.hashes.outputs.x86_64-darwin }}
      aarch64-linux-hash: ${{ steps.hashes.outputs.aarch64-linux }}
      aarch64-darwin-hash: ${{ steps.hashes.outputs.aarch64-darwin }}
      x86_64-linux-small-hash: ${{ steps.hashes.outputs.x86_64-linux-small }}
      x86_64-darwin-small-hash: ${{ steps.hashes.outputs.x86_64-darwin-small }}
      aarch64-linux-small-hash: ${{ steps.hashes.outputs.aarch64-linux-small }}
      aarch64-darwin-small-hash: ${{ steps.hashes.outputs.aarch64-darwin-small }}
      x86_64-linux-stable-hash: ${{ steps.hashes.outputs.x86_64-linux-stable }}
      x86_64-darwin-stable-hash: ${{ steps.hashes.outputs.x86_64-darwin-stable }}
      aarch64-linux-stable-hash: ${{ steps.hashes.outputs.aarch64-linux-stable }}
      aarch64-darwin-stable-hash: ${{ steps.hashes.outputs.aarch64-darwin-stable }}
      x86_64-linux-stable-small-hash: ${{ steps.hashes.outputs.x86_64-linux-stable-small }}
      x86_64-darwin-stable-small-hash: ${{ steps.hashes.outputs.x86_64-darwin-stable-small }}
      aarch64-linux-stable-small-hash: ${{ steps.hashes.outputs.aarch64-linux-stable-small }}
      aarch64-darwin-stable-small-hash: ${{ steps.hashes.outputs.aarch64-darwin-stable-small }}
    steps:
    - uses: actions/checkout@v6
    - name: Swap space report before modification
      shell: bash
      run: |
        echo "Memory, swap and disk space:"
        free -h
        echo
        swapon --show
        echo
        df -h /mnt .
        echo
    - name: Set Swap
      shell: bash
      run: |
          export SWAP_FILE=$(swapon --show=NAME | tail -n 1)
          sudo swapoff $SWAP_FILE
          sudo rm $SWAP_FILE
          sudo fallocate -l 10G $SWAP_FILE
          sudo chmod 600 $SWAP_FILE
          sudo mkswap $SWAP_FILE
          sudo swapon $SWAP_FILE
    - name: Swap space report after modification
      shell: bash
      run: |
        echo "Memory, swap and disk space:"
        free -h
        echo
        swapon --show
        echo
        df -h /mnt .
        echo
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/nixpkgs-unstable.tar.gz
        extra_nix_config: |
          access-tokens = github.com=${{ github.token }}
          system-features = nixos-test benchmark big-parallel kvm
    # for nix-index
    - name: Setup cachix
      uses: cachix/cachix-action@v16
      with:
        name: mic92
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - name: generate full nix-index database
      run: |
        nix shell --inputs-from .# nixpkgs#nix-index -c nix-index --db ./${{ matrix.system }}-index --system ${{matrix.system}} 2>&1 | grep -v '+ generating index:'
        mv ./${{ matrix.system }}-index/files ./index-${{ matrix.system }}
    - name: generate small nix-index database
      run: |
        nix shell --inputs-from .# nixpkgs#nix-index -c nix-index --db ./${{ matrix.system }}-index-small --system ${{matrix.system}} --filter-prefix '/bin/' 2>&1 | grep -v '+ generating index:'
        mv ./${{ matrix.system }}-index-small/files ./index-${{ matrix.system }}-small
    - name: generate stable full nix-index database
      run: |
        nix shell --inputs-from .# nixpkgs#nix-index -c nix-index --db ./${{ matrix.system }}-index-stable --system ${{matrix.system}} --nixpkgs 'https://github.com/NixOS/nixpkgs/archive/${{ endsWith(matrix.system, '-darwin') && 'nixpkgs-25.11-darwin' || 'nixos-25.11' }}.tar.gz' 2>&1 | grep -v '+ generating index:'
        mv ./${{ matrix.system }}-index-stable/files ./index-${{ matrix.system }}-stable
    - name: generate stable small nix-index database
      run: |
        nix shell --inputs-from .# nixpkgs#nix-index -c nix-index --db ./${{ matrix.system }}-index-stable-small --system ${{matrix.system}} --nixpkgs 'https://github.com/NixOS/nixpkgs/archive/${{ endsWith(matrix.system, '-darwin') && 'nixpkgs-25.11-darwin' || 'nixos-25.11' }}.tar.gz' --filter-prefix '/bin/' 2>&1 | grep -v '+ generating index:'
        mv ./${{ matrix.system }}-index-stable-small/files ./index-${{ matrix.system }}-stable-small
    - name: hash index
      id: hashes
      run: |
        echo "${{ matrix.system }}=$(nix store prefetch-file "file://$PWD/index-${{ matrix.system }}" --json | jq -r .hash)" >> "$GITHUB_OUTPUT"
        echo "${{ matrix.system }}-small=$(nix store prefetch-file "file://$PWD/index-${{ matrix.system }}-small" --json | jq -r .hash)" >> "$GITHUB_OUTPUT"
        echo "${{ matrix.system }}-stable=$(nix store prefetch-file "file://$PWD/index-${{ matrix.system }}-stable" --json | jq -r .hash)" >> "$GITHUB_OUTPUT"
        echo "${{ matrix.system }}-stable-small=$(nix store prefetch-file "file://$PWD/index-${{ matrix.system }}-stable-small" --json | jq -r .hash)" >> "$GITHUB_OUTPUT"
    - name: add to release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ needs.create-release.outputs.release_name }}
        files: |
          index-${{ matrix.system }}-small
          index-${{ matrix.system }}
          index-${{ matrix.system }}-stable
          index-${{ matrix.system }}-stable-small


  update-generated:
    runs-on: ubuntu-latest
    needs: [ 'create-release', 'index']
    steps:
    - uses: actions/checkout@v6
      with:
        ref: "${{ github.ref_name }}"
    - uses: cachix/install-nix-action@v31
      with:
        extra_nix_config: 'access-tokens = github.com=${{ github.token }}'
    - name: update database.nix
      run: |
        cat > generated.nix << EOF
        # this file is autogenerated by .github/workflows/update.yml
        {
          url = "https://github.com/${{ github.repository }}/releases/download/${{ needs.create-release.outputs.release_name }}/index-";
          hashes = {
            x86_64-linux = "${{ needs.index.outputs.x86_64-linux-hash }}";
            aarch64-linux = "${{ needs.index.outputs.aarch64-linux-hash }}";
            x86_64-darwin = "${{ needs.index.outputs.x86_64-darwin-hash }}";
            aarch64-darwin = "${{ needs.index.outputs.aarch64-darwin-hash }}";
            x86_64-linux-small = "${{ needs.index.outputs.x86_64-linux-small-hash }}";
            aarch64-linux-small = "${{ needs.index.outputs.aarch64-linux-small-hash }}";
            x86_64-darwin-small = "${{ needs.index.outputs.x86_64-darwin-small-hash }}";
            aarch64-darwin-small = "${{ needs.index.outputs.aarch64-darwin-small-hash }}";
            x86_64-linux-stable = "${{ needs.index.outputs.x86_64-linux-stable-hash }}";
            aarch64-linux-stable = "${{ needs.index.outputs.aarch64-linux-stable-hash }}";
            x86_64-darwin-stable = "${{ needs.index.outputs.x86_64-darwin-stable-hash }}";
            aarch64-darwin-stable = "${{ needs.index.outputs.aarch64-darwin-stable-hash }}";
            x86_64-linux-stable-small = "${{ needs.index.outputs.x86_64-linux-stable-small-hash }}";
            aarch64-linux-stable-small = "${{ needs.index.outputs.aarch64-linux-stable-small-hash }}";
            x86_64-darwin-stable-small = "${{ needs.index.outputs.x86_64-darwin-stable-small-hash }}";
            aarch64-darwin-stable-small = "${{ needs.index.outputs.aarch64-darwin-stable-small-hash }}";
          };
        }
        EOF
    - name: test if flake works
      run: |
        nix flake show --all-systems
        # We don't want to build the checks since we don't have virtualisation support on github runners
        nix flake check -L --all-systems --no-build
    - name: commit and push generated.nix, if it changed
      run: |
        if [[ "$(git status --porcelain)" != "" ]]; then
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add generated.nix
          git commit -m "update generated.nix to release ${{ needs.create-release.outputs.release_name }}"
          git push origin HEAD:main
        fi

  finalize-release:
    runs-on: ubuntu-latest
    needs:
      - create-release
      - update-generated
    steps:
      - uses: actions/github-script@v8
        with:
          script: |
            const { owner, repo } = context.repo;
            const release_name = "${{ needs.create-release.outputs.release_name }}";
            const release_id = "${{ needs.create-release.outputs.release_id }}";
            core.info(`Finalizing release: ${release_name} (${release_id})`)
            core.debug(
              await github.rest.repos.updateRelease({
                owner,
                repo,
                release_id,
                draft: false,
              })
            );
