name: "index-generate"
on:
  workflow_dispatch:
  schedule:
    # every sunday at 2:51
    - cron: '51 2 * * 0'
jobs:
  index:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - indexName: x86_64-linux
          - indexName: aarch64-linux
          - indexName: x86_64-darwin
          - indexName: aarch64-darwin
    name: Build database
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v18
      with:
        nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/nixpkgs-unstable.tar.gz
        extra_nix_config: 'access-tokens = github.com=${{ github.token }}'
    # for nix-index
    - name: Setup cachix
      uses: cachix/cachix-action@v12
      with:
        name: mic92
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - name: run nix-index
      run: nix run github:Mic92/nix-index/docs -- --db ./${{ matrix.indexName }}-index --system ${{matrix.indexName}} 2>&1 | grep -v '+ generating index:'
    - name: upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.indexName }}
        path: ./${{ matrix.indexName }}-index

  upload-index:
    runs-on: ubuntu-latest
    needs: index
    outputs:
      release_name: ${{ steps.date.outputs.date }}
    steps:
    - name: download x86_64-linux artifact
      uses: actions/download-artifact@v3
      with:
        name: x86_64-linux
        path: x86_64-linux-index
    - name: download aarch64-linux artifact
      uses: actions/download-artifact@v3
      with:
        name: aarch64-linux
        path: aarch64-linux-index
    - name: download x86_64-darwin artifact
      uses: actions/download-artifact@v3
      with:
        name: x86_64-darwin
        path: x86_64-darwin-index
    - name: download aarch64-darwin artifact
      uses: actions/download-artifact@v3
      with:
        name: aarch64-darwin
        path: aarch64-darwin-index
    - run: |
        mv x86_64-linux-index/files index-x86_64-linux
        mv aarch64-linux-index/files index-aarch64-linux
        mv x86_64-darwin-index/files index-x86_64-darwin
        mv aarch64-darwin-index/files index-aarch64-darwin
    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d-%H%M%S')" >> ${GITHUB_OUTPUT}
    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        name: Release ${{ steps.date.outputs.date }}
        tag_name: ${{ steps.date.outputs.date }}
        files: |
          index-x86_64-linux
          index-aarch64-linux
          index-x86_64-darwin
          index-aarch64-darwin

  update-flake:
    runs-on: ubuntu-latest
    needs: upload-index
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v18
      with:
        extra_nix_config: 'access-tokens = github.com=${{ github.token }}'
    - name: prefetch x86_64-linux index
      id: prefetch-x86_64-linux
      run: echo "hash=$(nix shell nixpkgs#nix-prefetch -c nix-prefetch-url https://github.com/${{ github.repository }}/releases/download/${{ needs.upload-index.outputs.release_name }}/index-x86_64-linux)" >> ${GITHUB_OUTPUT}
    - name: prefetch aarch64-linux index
      id: prefetch-aarch64-linux
      run: echo "hash=$(nix shell nixpkgs#nix-prefetch -c nix-prefetch-url https://github.com/${{ github.repository }}/releases/download/${{ needs.upload-index.outputs.release_name }}/index-aarch64-linux)" >> ${GITHUB_OUTPUT}
    - name: prefetch x86_64-darwin index
      id: prefetch-x86_64-darwin
      run: echo "hash=$(nix shell nixpkgs#nix-prefetch -c nix-prefetch-url https://github.com/${{ github.repository }}/releases/download/${{ needs.upload-index.outputs.release_name }}/index-x86_64-darwin)" >> ${GITHUB_OUTPUT}
    - name: prefetch aarch64-darwin index
      id: prefetch-aarch64-darwin
      run: echo "hash=$(nix shell nixpkgs#nix-prefetch -c nix-prefetch-url https://github.com/${{ github.repository }}/releases/download/${{ needs.upload-index.outputs.release_name }}/index-aarch64-darwin)" >> ${GITHUB_OUTPUT}
    - name: overwrite flake.nix
      run: |
        cat > packages.nix << EOF
        # this file is autogenerated by .github/workflows/update.yml
        {
          x86_64-linux.database = builtins.fetchurl {
            url = "https://github.com/${{ github.repository }}/releases/download/${{ needs.upload-index.outputs.release_name }}/index-x86_64-linux";
            sha256 = "${{ steps.prefetch-x86_64-linux.outputs.hash }}";
          };
          aarch64-linux.database = builtins.fetchurl {
            url = "https://github.com/${{ github.repository }}/releases/download/${{ needs.upload-index.outputs.release_name }}/index-aarch64-linux";
            sha256 = "${{ steps.prefetch-aarch64-linux.outputs.hash }}";
          };
          x86_64-darwin.database = builtins.fetchurl {
            url = "https://github.com/${{ github.repository }}/releases/download/${{ needs.upload-index.outputs.release_name }}/index-x86_64-darwin";
            sha256 = "${{ steps.prefetch-x86_64-darwin.outputs.hash }}";
           };
          aarch64-darwin.database = builtins.fetchurl {
            url = "https://github.com/${{ github.repository }}/releases/download/${{ needs.upload-index.outputs.release_name }}/index-aarch64-darwin";
            sha256 = "${{ steps.prefetch-aarch64-darwin.outputs.hash }}";
          };
        }
        EOF
    - name: test if flake works
      run: |
        nix flake show
        nix flake check -L
    - name: commit and push packages.nix, if it changed
      run: |
        if [[ "$(git status --porcelain)" != "" ]]; then
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add packages.nix
          git commit -m "update packages.nix to release ${{ needs.upload-index.outputs.release_name }}"
          git push origin HEAD:main
        fi
